body
{
    background-color: white;
    font-family: 'Raleway';
    font-weight: 400;
    
}
ul /* Style sur la partie header */
 {
     list-style-type: none;
 }

 a
 {
     text-decoration:none; 
 }
#menu
{
    display:flex;
    justify-content:space-between;
    
}

nav ul
{
   
    display: flex; 
    justify-content: space-between;
    width: 350px; 

}

#slogan /* Premier bloc en haut dans le body */
{   color: black;
    font-size: 18px;
   
}

#sousslogan
{
    font-size: 15px;
}

#barre /* Barre de recherche */
{
    display: flex;
    width: 300px;
    justify-content:left;
    border-width: 0.5px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 22px; 22px;


}

#map
{
    color: bleu;
}

#rechercher
{
    
}
#map
{
    width: 15px;
    height: 25px;
}
#filtre /* Filtres */
{
    display: flex;
    color: blue;
    align-items: flex-start;
    justify-content: space-between;
    width: 1000px;
    
}
.filtre
{
    width: 60px;
    height: 15px;
    justify-content: space-between;
    justify-content:space-evenly;
    
}

#economique
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 40px/35px;
}

#familial
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 40px/35px;
}

#romantique
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 40px/35px;
}

#animaux
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 40px/35px;
}

h1
{
    text-decoration: underline;
}

#hebergements_marseille /* Grande section hébergements Marseille */
{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
#marseille /* Bloc logements de Marseille */
{
  
    width: 3000px;
    height: 600px;
    background-color: rgb(228, 228, 228);
    border-radius: 15px / 30px;
    margin: 30px;
    align-content: center;
    
}

#conteneur
{
    display: flex;
    columns: 3;
    columns: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content:center;
   
}

#conteneur img {
	max-width: 200px;
	height: auto;
}

#mer
{
   
        width: 150px; 
        height: 100px; 
        object-fit: cover; 
    
}
.element
{
    margin: 40px;
    padding: 10px;
    justify-content: space-between;
    columns: auto;
    width: 300px;
    height: 150px;
}


.element:nth-child(1) /* Boite des 6 hébergements de marseille */
 {
    background-color: white;
}


.element:nth-child(2)
 {
    background-color: white;
}
.element:nth-child(3)
 {
    background-color: white;
}
.element:nth-child(4)
 {
     background-color: white;
 }
 .element:nth-child(5)
 {
     background-color: white;
 }
 .element:nth-child(6)
 {
     background-color: white;
 }
 #populaire /* Bloc Populaire à droite, dans le body */
 {
     background-color: rgb(228, 228, 228);
     width: 500px;
     height: 600px;
     border-radius: 15px / 30px;
     
 }
.conteneur_2 
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
}

 #populaire img
 {
    object-fit: cover;
 } 
 
.conteneur_2 .element:nth-child(7)
 {
     background-color: white;
 }
 .element:nth-child(8)
 {
     background-color: white;
 }
 .element:nth-child(9)
 {
     background-color: white;
 }
 
 #footer /* Pied de page */
 {
     background-color: rgb(228, 228, 228);
     
     
 }

 #pied_de_page
 {
     display: flex;
     justify-content: space-between;
     width: 1200px;
     
 }
 .foot
 {
     justify-content: center;
     align-content: space-between;
     
 }

 .foot_3 
 {
    list-style-position: inside;
    line-height: 23px;
    margin: 0;
    padding: 0;

 }


 /* Autres éléments */

 .fullstar /* style pour les étoiles bleues des hébergements. Ici il faut donner la taille de l'étoile, et sa couleur */
{
    display: flex;
    height: 10px;
    width: 10px;
    color
    
}