@media screen and (max-width: 900px) {






 
#menu
{
    display:flex;
   
    width: 450px;
    
}


nav ul
{
   
    display: flex; 
    
    justify-content: space-between;
    width: 350px; 

}



/* Premier bloc en haut dans le body */


/* Barre de recherche */
 /*filtre*/

    #filtre /* Filtres */
    {
        display: flex;
        flex-wrap: wrap;
        columns: 2;
        align-items: flex-start;
        
        width: 500px;
    }
/* Hébergements*/

    #hebergements_marseille section:nth-child(1)
    {
        order:2;
    }
    
    #hebergements_marseille section:nth-child(2)
    {
        order:1;
    }

    #hebergements_marseille
    {
        flex-direction: column;
        max-width: 460px;
        
    }
    #marseille 
    {
        background-color: red;
        width: 350px;
        height: 1800px;
        border-radius: 20px 20px 20px 20px;
        margin: 5px;
        
        background-color: whit
        
        align-content: center;
    }


    #populaire /* Bloc Populaire à droite, dans le body */
     {
         background-color: rgb(228, 228, 228);
         width: 450px;
         height: 705px;
         margin: 10px;
         padding: 20px;
         border-radius: 20px 20px 20px 20px;
         
     }
/*Activités*/

#activites_marseille
{
    background-color: salmon;
    height: 1800px;
    width: 450px;
    
}
#bloc_activites .colone
     { 
         
         
         width: ;
     }

     #bloc_activites .element_solo
     {
        
         
         columns:1;
        width: 350px;
         height: 230px;
         background-color:red;
         box-shadow: 1px 1px 5px grey;
         object-fit: cover;
         overflow: hidden;
         margin-right: 30px;
         border-radius:  20px 20px 20px 20px;
        
     }
     
    .element_solo img
     {
        margin: 5px;
        width: 320px;
        height: 150px;
        
     }
    
     #bloc_activites .element_duo
     {
         
         
         height: 230px;
         background-color: yellow;
        
     }
     
     .element_duo img
     {
        margin: 5px;
        
        height: 160px;
        margin-bottom: 0px;
        object-fit:cover;
        border-radius: 20px 20px 1px 1px;;
        
     }

     #bloc_activites div:nth-child(0)
     {
         order:2;
     }

    
 /* Autres éléments */

 

}