body
{
    background-color: white;
    font-family: 'Raleway';
    font-weight: 400;
    
}
ul
 {
     list-style-type: none;
 }

 a
 {
     text-decoration:none; 
 }
#menu
{
    display:flex;
    justify-content:space-between;
    
}

nav ul
{
   
    display: flex; 
    justify-content: space-between;
    width: 350px; 

}
#slogan 
{   color: black;
    font-size: 18px;
   
}

#sousslogan
{
    font-size: 15px;
}

#barre
{
    display: flex;

}
#map
{
    color: bleu;
}
#rechercher
{
    background-color: blue;
}
#map
{
    width: 15px;
    height: 25px;
}
#filtre
{
    display: flex;
    color: blue;
    align-items: flex-start;
    justify-content: space-between;
}
.filtre
{
    width: 60px;
    height: 15px;
    justify-content: space-between;
    justify-content:space-evenly;
    
}

#economique
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 23px; 33px;
}

#familial
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 23px; 33px;
}

#romantique
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 23px; 33px;
}

#animaux
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 23px; 33px;
}

h1
{
    text-decoration: underline;
}

#marseille
{
    background-color: rgb(228, 228, 228);
    border-radius: 15px / 30px;
    
}
#conteneur
{
    display: flex;
    align-items: center;
    justify-content:center;
    border: 3px solid black;
}
.element
{
    margin: auto;
    width: 200px;
    height: 150px;
}
.element:nth-child(1)
 {
    background-color: red;
}
.element:nth-child(2)
 {
    background-color: orange;
}
.element:nth-child(3)
 {
    background-color: yellow;
}
.element:nth-child(4)
 {
     background-color: cadetblue;
 }
 .element:nth-child(5)
 {
     background-color: greenyellow;
 }
 .element:nth-child(6)
 {
     background-color: blue;
 }
 #populaire
 {
     background-color: rgb(228, 228, 228);
     border-radius: 15px / 30px;
     
 }
.conteneur_2 
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    border: 3px solid black;
}
.conteneur_2 .element:nth-child(1)
 {
     background-color: cadetblue;
 }
 .element:nth-child(8)
 {
     background-color: greenyellow;
 }
 .element:nth-child(9)
 {
     background-color: blue;
 }
 
 #footer
 {
     background-color: rgb(228, 228, 228);
     
     
 }

 #pied_de_page
 {
     display: flex;
 }
 .foot
 {
     justify-content: center;
     align-content: space-between;
 }