body
{
    background-color: white;
    font-family: 'Raleway';
    font-weight: 400;
    
    
    
}

#center
{
    width: 1280px;
    margin: 0 auto
    
}
ul /* Style sur la partie header */
 {
     list-style-type: none;
 }

 a
 {
     text-decoration:none;
     color: black;

 }


 
#menu
{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    
}

#Menu_mobile
{
    display: none;
}

nav ul
{
   
    display: flex; 
    justify-content: space-between;
    width: 350px; 

}

#menu ul a:hover,.active
{
    color: black;
	border-top: 2px white solid;
    padding-top: 20px; 
    margin-top: 0px;    	
}

#menu ul a:hover,.active
{
    color: #0065FC;
	border-top: 2px #0065FC solid;
    padding-top: 20px; 
}

#s_inscrire_desk
{
    color: #0065FC;
    text-decoration:none;
}

#slogan /* Premier bloc en haut dans le body */
{   color: black;
    font-size: 18px;
   
}

#sousslogan
{
    font-size: 15px;
}

 /* Barre de recherche */


/*".filtrebloc:nth-child(1)
{
    order: 1;
}
.filtrebloc:nth-child(2)
{
    order: 2;
}*/

#info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    font-weight: lighter;
    margin-top: px;
}


#barreflex
{ 
    display: flex;
    align-items: center;
    justify-content: ;

    width: 340px;
    height: 20px;
   
    border-width: 0.5px;
    border-style:1px grey solid;
    ;
    border-color:rgb(185, 184, 184);
    border-radius: 22px 22px 22px 22px; 
    
    box-shadow: 1px 1px 5px grey;
   
    
    
    background-color: ;
    font-family: 'Raleway';
    padding: 10px 0px 10px 0px;
    margin: 15px 0px 15px 0px;
    
    
}
#map
{
    border-style:1px  solid;
    background-color: gainsboro ;
    border-radius: 22px 0px 0px 22px;
    padding: 9px 15px 9px 15px; 
    width: 15px;
    height: 22px;
}

#form_ville
{
    border:0px;
    margin-left: 0px;
    font-weight: bold;
    border-color: white;
}
#button
{
    display: block;
    background-color: #0065FC;
    border: 1px #0065FC solid ;
    border-radius: 0px 22px 22px 0px;
    padding: 12px;
    margin-left: 52px;
    color: white;
    
}

#loupe
{
    display:none;
}

#filtre /* Filtres */
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1000px;
   
    
}
.filtrebloc
{
    display: flex;
    width: 130px;
    height: 46px;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 15px;
    border-radius: 30px 30px 30px 30px;
    border: gainsboro 1px solid;   
}

/* 
#menu ul a:hover,.active
{
    color: black;
	border-top: 2px white solid;
    padding-top: 20px; 
    margin-top: 0px;    	
}

#menu ul a:hover,.active
{
    color: #0065FC;
	border-top: 2px #0065FC solid;
    padding-top: 20px; 
}
*/

.filtrebloc div a:hover,.active
{
    color: #0065FC;
    

}

.filtrebloc_animaux
{
    display: flex;
    height: 46px;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    border: gainsboro 1px solid;
    border-radius: 30px 30px 30px 30px;
    padding-left: 0px;
    padding-right: 15px;
    
}

.filtrebloc_animaux div a:hover,.active
{
    color: #0065FC;
   

}
#_child
{
    width: 60px;
    height: auto;
    border-radius: 70%;
}

._backgblue
{
    background-color: rgb(163, 210, 248);
    border:gainsboro 1px solid;
    border-radius: 50%;
    padding: 13px;
}

#economique
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 40px/35px;
}

#familial
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 40px/35px;
}

#romantique
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 40px/35px;
}

#animaux
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(185, 184, 184);
    border-radius: 40px/35px;
}

h1
{
    text-decoration: underline;
}

#hebergements_marseille /* Grande section hébergements Marseille */
{
    display: flex;
    align-items: center;
   
   
    padding-left: ;
   
    width: 1400px;
    
}
#marseille /* Bloc logements de Marseille */
{
  
    width: 890px;
    height: 700px;
    background-color: rgb(228, 228, 228);
    border-radius: 20px 20px 20px 20px;
    
    padding-right: 0px;
    align-content: center;
    
}

#marseille_titre
{
    padding-left: 40px;
    padding-top: 20px;
    
}

#conteneur
{
    display: flex;
    columns: 3;
    columns: auto;
    flex-wrap: wrap;
    margin-right: 30px;
    justify-content:center;
    
   
}

#conteneur .element img
{
	width: 210px;
    max-width: 500px;
	max-height: 120px;
    object-fit: cover;

    
}


.element
{
    background-color: white;
    margin: 30px;
    margin-left: 25px;
    padding: 10px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    columns: auto;
    width: 210px;
    height: 190px;
    box-shadow: 1px 1px 5px grey;
    line-height: 2px;
    border-radius:  20px 20px 20px 20px;

    
}


#afficherplus
{
    padding-left: 29px;
}


 #populaire /* Bloc Populaire à droite, dans le body */
 {
     background-color: rgb(228, 228, 228);
     width: 400px;
     height: 705px;
     margin: 10px;
     padding: 0;
     border-radius: 20px 20px 20px 20px;
     
 }

 #titre_pop
 {
     display: flex;
     align-items: baseline;
     justify-content: space-between;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
 }
#conteneur_2 
{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 90px;
    margin: ;
    margin-top: 10px;
    object-fit: cover;
  
    
}


.elementpop
 {
     background-color:white;
     box-shadow: 1px 1px 5px grey;
     display: flex;
     padding:2px;
     margin: 20px;
     border-radius: 20px 20px 20px 20px;

     
     justify-content: center;
     width: 350px;
     height: 140px ;
    
 }
 
 #conteneur_2 .elementpop img
 {
    width: 120px;
    height: 130px;
	max-width: 350px;
	max-height: 150px;
    border: white 3px solid;
    border-radius: 20px 1px 1px 20px;
    object-fit: cover;
    
    

    
}
/*activités*/

#activites_marseille
{
    display: flex;
    flex-direction: column;
}

 #bloc_activites
 {
     display: flex;
     padding-bottom: 30px;
     
 }
 
 .colone
 {
     margin-bottom: 30px;
 }
 
 #bloc_activites .colone
 {
     display: flex;
     
     flex-direction: column;
 }
 
 #bloc_activites .colone .element_solo
 {
    
     
     columns:1;
     width: 290px;
     height: 470px;
     background-color: white;
     box-shadow: 1px 1px 5px grey;
     object-fit: cover;
     overflow: hidden;
     margin-right: 30px;
     border-radius:  20px 20px 20px 20px;
    
 }
 
.element_solo img
 {
    margin: 5px;
    width: 280px;
    height: 400px;
    object-fit: cover;
    border-radius:  20px 20px 1px 1px;
 }

 #bloc_activites .colone .element_duo
 {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-bottom: 10px;
     margin-right: 30px;
     columns: 1;
     width: 350px;
     height: 230px;
     background-color: white;
     box-shadow: 1px 1px 5px grey;
     object-fit: cover;
     overflow: hidden;
     border-radius:  20px 20px 20px 20px;
 }
 
 .element_duo img
 {
    margin: 5px;
    width: 340px;
    height: 160px;
    margin-bottom: 0px;
    object-fit:cover;
    border-radius: 20px 20px 1px 1px;;
    
 }
 #footer /* Pied de page */
 {
     background-color: rgb(228, 228, 228);
     
     
 }

 #pied_de_page
 {
     display: flex;
     justify-content: center;
     justify-content:space-between ;
     
 }
 .foot
 {
     justify-content: center;
     align-content: space-between;
    
 }


 /* Autres éléments */

 .fullstar /* style pour les étoiles bleues des hébergements. Ici il faut donner la taille de l'étoile, et sa couleur */
{
    display: flex;
    height: 10px;
    width: 10px;
   
    
}

div.nomhotel
{
   
    background-color: white;
    width: auto;

    margin-left: 10px;

    margin-top: 0px;
    
  
}

._blue_icon
{
    color: #0065FC;
}

.no_star
{
    color: #DEEBFF; 
}

.white_background
{
    background-color: ;
    width: 220px;;
    height: 100px;
    margin-top: 1px;
}

img
{
    border-radius: 20px 20px 1px 1px;
}

h4
{
    font-weight:bolder;
   
}