@media screen and (max-width: 375px) {

    body {
    
        background-color: white;
        font-family: 'Raleway';
        font-weight: 400;
        margin-left: 5px;
       
    }

    #center {
        width: 450px;
    }


    header {
        padding: 10px 0 0;
    }

    .Menu_mobile {
        display: block;
        font-size: 0.9em;
        font-weight: 900;
        color: #0065FC;
    }

    .signin {
        display: none;
    }


    .menu {
        width: 375px;
    }

    .menu ul {
        padding: 0px;
    }


    .menu ul li {

        border-bottom: solid 3px transparent;
        padding: 0px 25px 30px 25px;
    }

    .menu ul li.fix {
        border-top: none;
        border-bottom: 2px #0065FC solid;
    }

    .menu ul li.active {
        border-top: none;
        border-bottom: 2px ghostwhite solid;
    }

    #hebergements {
        padding-left: 40px;
    }

    #activites {
        padding-left: 80px;
        padding-right: 80px;
    }

    /* Premier bloc en haut dans le body */

    #info {
        width: 300px;
        margin: 30px 0px 30px 0px;
    }

    /* Barre de recherche */

    #barre {
        margin: 30px 0px 30px 0px;
    }

    #barreflex {
        display: flex;
        align-items: center;
        width: 340px;
        height: 20px;
        border-width: 0.5px;
        border: 1px grey solid;
        border-color: rgb(185, 184, 184);
        border-radius: 12px 12px 12px 12px;
        box-shadow: 1px 1px 5px grey;
        font-family: 'Raleway';
        padding: 10px 0px 10px 0px;
        margin: 15px 0px 15px 0px;
    }

    #map {
        border: 1px gainsboro solid;
        background-color: gainsboro;
        border-radius: 12px 0px 0px 12px;
    }

    #form_ville {
        border: 0px;
        margin-right: 60px;
        font-weight: bold;
        border-color: white;
    }

    #button {
        display: block;
        background-color: #0065FC;
        border: 1px #0065FC solid;
        border-radius: 22px 22px 22px 22px;
        padding: 12px;
        margin-left: 52px;
        color: white;
    }

    #loupe {
        display: block;
        background-color: #0065FC;
        border: 1px #0065FC solid;
        border-radius: 12px 12px 12px 12px;
        padding: 12px;
        margin-left: 52px;
    }

    #button {
        display: none;
    }

    /*filtre*/

    #filtre {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin-bottom: 0px;
    }

    #flexfiltre {
        flex-direction: column
    }

    .filtrebloc {
        margin-left: 5px;
        padding-right: 15px;
        margin-bottom: 10px;
    }

    .smallfilter {
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .animaux {
        margin-left: 5px;
        padding-right: 15px;
    }


    #infologement {
        width: 300px;
    }

    /* Hébergements*/

    #hebergements_marseille {
        width: 375px;
    }

    #marseille_titre {
        padding-left: 10px;
    }

    #hebergements_marseille section:nth-child(1) {
        order: 2;
    }

    #hebergements_marseille section:nth-child(2) {
        order: 1;
    }

    #hebergements_marseille {
        flex-direction: column;
        max-width: 460px;
        align-items: flex-start;
    }

    #marseille {
        background-color: white;
        padding: 5px;
        width: 380px;
        height: 1800px;
        border-radius: 0px 0px 0px 0px;
        justify-content: center;
    }


    #conteneur {
        margin: 5px;
        width: 380px;
    }

    .element {
        width: 350px;
        height: 210px;
       
    }



    #conteneur .element img {
        width: 320px;
        margin: 0px;
        max-width: 500px;
        max-height: 120px;
        object-fit: cover;
    }

    #afficherplus {
        padding-left: 1px;
    }


    /* Bloc Populaire à droite, dans le body */


    #populaire {
        background-color: gainsboro;
        width: 375px;
        height: 585px;
        margin: 0px 2px 2px 0px;
        padding: 10px;
        border-radius: 0px 0px 0px 0px;
    }

    #titre_pop {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    #conteneur_2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 300px;
        width: 90px;
        margin-top: 0px;
        margin-bottom: 0px;
        object-fit: cover;
    }

    .elementpop {
        background-color: white;
        box-shadow: 1px 1px 5px grey;
        display: flex;
        border-radius: 20px 20px 20px 20px;
        margin: 5px 0px 20px 0px;
        justify-content: center;
        width: 370px;
        height: 138px;
    }



    /*Activités Marseille*/

    #activites_marseille {
        height: auto;
        width: auto;
        margin-top: 20px;
        padding: 0px;
        margin-left: 10spx;
        justify-items: center;
    }

    #bloc_activites {
        flex-direction: column;
    }

    #bloc_activites .colone {
        flex-direction: column;
        align-self: flex-start;
    }

    #bloc_activites .colone .element_solo {
        columns: 1;
        width: 365px;
        height: 210px;
        background-color: white;
        box-shadow: 1px 1px 5px grey;
        object-fit: cover;
        overflow: hidden;
        margin: 0px 0px 0px 0px;
        border-radius: 20px 20px 20px 20px;
    }

    .element_solo img {
        margin: 0px;
        width: 395px;
        height: 150px;
    }

    #bloc_activites .colone .element_duo {
        width: 365px;
        height: 210px;
        background-color: white;
        margin: 20px 0px 30px 0px;
    }

    .element_duo img {
        margin: 0px;
        width: 395px;
        height: 160px;
        object-fit: cover;
        border-radius: 20px 20px 1px 1px;
    }

    #bloc_activites div:nth-child(0) {
        order: 2;
    }

    /*FOOTER*/

    #footer {
        background-color: rgb(228, 228, 228);
        width: 395px;
        justify-content: center;
        align-content: space-between;
    }

    #pied_de_page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 50px;
        width: 380px;
        width: auto;
    }

    .foot {
        justify-content: center;
        align-content: space-between;
        padding: 15px;
        width: 350px;
    }

}